body{
    margin: 0;
    background-color: rgb(72, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    font-size: 325%;
}

input{
    font-size: 125%;
    padding: 5px 10px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    transition: 0.25s;

    &:hover{
        background-color: rgb(233, 233, 233);
        padding-right: 80px;
    }

    &:focus{
        outline: none;
        padding-right: 80px;
    }
}

button{
    font-size: 125%;
    padding: 5px 10px;
    cursor: pointer;
}

img{

}