:root{
    color-scheme: light dark;
    --background-color: light-dark(rgb(236, 236, 236), rgb(72, 72, 72));
    --text-color: light-dark(black, white);
    --input-and-button-color: light-dark(rgb(255, 255, 255), rgb(53, 53, 53));
    --input-and-button-color-hover: light-dark(rgb(213, 213, 213), rgb(30, 30, 30));
    --button-color-active: light-dark(rgb(192, 192, 192), rgb(0, 0, 0));
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 2vw;
    font-size: 3.5vw;
}

button{
    font-size: 1.25vw;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    background-color: var(--input-and-button-color);
    transition: 0.25s;

    &:hover{
        background-color: var(--input-and-button-color-hover);
    }

    &:active{
        background-color: var(--button-color-active);
    }
}

.url-input-container{
    & input{
        background-color: var(--input-and-button-color);
        font-size: 1.25vw;
        width: 20vw;
        padding: 5px 10px;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        border-right: 1px solid var(--background-color);
        transition: 0.25s;

        &:hover{
            background-color: var(--input-and-button-color-hover);
            width: 23vw;
        }

        &:focus{
            outline: none;
            background-color: var(--input-and-button-color-hover);
            width: 23vw;
        }
    }

    & button{
        padding: 5px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.message{
    margin-top: 5vw;
    font-size: 1.15vw;
}

.generated-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    & img{

    }

    & button{
        padding: 7.5px 15px;
        margin-top: 2.5vw;
        border-radius: 10px;
    }
}