body{
    margin: 0;
    background-color: rgb(72, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    cursor: pointer;
}

button{

}

img{
    
}