body{
    margin: 0;
    background-color: rgb(72, 72, 72);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    font-size: 325%;
}

button{
    font-size: 125%;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(33, 33, 33);
    transition: 0.25s;

    &:hover{
        background-color: rgb(16, 16, 16);
    }

    &:active{
        background-color: rgb(0, 0, 0);
    }
}

.url-input-container{
    & input{
        font-size: 125%;
        width: 20vw;
        padding: 5px 10px;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        transition: 0.25s;

        &:hover{
            background-color: rgb(233, 233, 233);
            width: 26vw;
        }

        &:focus{
            outline: none;
            width: 26vw;
        }
    }

    & button{
        padding: 5px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.qr-code-download-btn{
    padding: 7.5px 15px;
    margin-top: 2.5vw;
    border-radius: 10px;
}

img{

}