:root{
    --background-color: rgb(72, 72, 72);
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    margin: 2vw;
    font-size: 3.5vw;
}

button{
    font-size: 1.25vw;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    background-color: rgb(33, 33, 33);
    transition: 0.25s;

    &:hover{
        background-color: rgb(16, 16, 16);
    }

    &:active{
        background-color: rgb(0, 0, 0);
    }
}

.url-input-container{
    & input{
        font-size: 1.25vw;
        width: 20vw;
        padding: 5px 10px;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        transition: 0.25s;

        &:hover{
            background-color: rgb(233, 233, 233);
            width: 23vw;
        }

        &:focus{
            outline: none;
            width: 23vw;
        }
    }

    & button{
        padding: 5px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.loading-message{
    margin-top: 5vw;
    font-size: 1.25vw;
}

.generated-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    & img{

    }

    & button{
        padding: 7.5px 15px;
        margin-top: 2.5vw;
        border-radius: 10px;
    }
}